{
  "extends": [
    "next",
    "prettier",
    "plugin:import/typescript",
    "plugin:react-hooks/recommended",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "eqeqeq": "warn"
  }
}
