{
	"$schema": "https://json.schemastore.org/prettierrc.json",
	"arrowParens": "always",
	"bracketSameLine": true,
	"importOrder": [
		"^(react/(.*)$)|^(react(.*)$)",
		"<THIRD_PARTY_MODULES>",
		"^@/(.*)",
		"<TYPES>",
		"^[./]"
	],
	"jsxSingleQuote": true,
	"plugins": [
		"prettier-plugin-packagejson",
		"prettier-plugin-imports",
		"prettier-plugin-tailwindcss"
	],
	"printWidth": 80,
	"quoteProps": "consistent",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true
}
