@import "tailwindcss";
@import "tailwindcss-pluggables/animate";
@import "./variables.css";

@theme inline {
  --spacing: 4px;
  /* fonts */
  --font-sans: var(--font-sans);
  --font-code: var(--font-code);
  /* border-radius */
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 14px;
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-fg: var(--card-fg);
  --color-popover: var(--popover);
  --color-popover-fg: var(--popover-fg);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);
  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
/* base styles -------------------------------------------------------------- */

@layer base {
  html {
    scrollbar-gutter: stable;
    overflow-x: hidden;
    background: var(--background);
    color: var(--foreground);
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
    scrollbar-color: var(--ring) transparent;
    color-scheme: light;
  }

  [data-theme="dark"] {
    color-scheme: dark;
  }

  body {
    font-family: var(--font-sans);
    overflow-x: clip;
  }

  * {
    paint-order: stroke fill markers;
    outline-offset: 4px;
    border-style: solid;
    border-color: var(--border);
    scroll-margin-top: calc(var(--header-height) + 2rem);
  }

  *::selection {
    background: --alpha(var(--ring) / 50%);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:is(:hover, :focus, :active) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--foreground);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }
}

/* variants ----------------------------------------------------------------- */

@custom-variant hocus (&:is(:hover, :focus-visible));

@custom-variant dark (&:where([data-theme="dark"] *));

/* utilities ---------------------------------------------------------------- */

@utility container {
  @apply mx-auto w-full max-w-[56rem] px-4 md:px-6;
}

@utility link {
  @apply rounded-xs text-foreground underline decoration-current/50 underline-offset-4;
}

@utility focus-ring {
  @apply ring-ring/60 ring-offset-background focus:outline-none;
  @apply focus-visible:ring-2 focus-visible:ring-offset-2;
}

@utility scrollbar-thin {
  scrollbar-width: thin;
}
