@import 'tailwindcss';
@import './variables.css';

@plugin '@oviirup/tailwindcss-animate';

/* theme -------------------------------------------------------------------- */

@theme inline {
  /* fonts */
  --font-sans: var(--next-font-sans);
  --font-heading: var(--next-font-heading);
  --font-code: var(--next-font-code);
  /* border-radius */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  /* colours  */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-fg: var(--card-fg);
  --color-popover: var(--popover);
  --color-popover-fg: var(--popover-fg);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);
  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);
  --color-destructive: var(--destructive);
  --color-destructive-fg: var(--destructive-fg);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

/* base styles -------------------------------------------------------------- */

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-background text-foreground;
  }
}

/* variants ----------------------------------------------------------------- */

@custom-variant hocus {
  &:is(:hover, :focus-visible) {
    @slot;
  }
}

/* components --------------------------------------------------------------- */
