@import "tailwindcss";
@import "tailwindcss-pluggables";

@theme inline {
  --spacing: 4px;
  /* fonts */
  --font-sans: var(--next-font-sans);
  --font-code: var(--next-font-code);
  /* border-radius */
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 14px;
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-fg: var(--card-fg);
  --color-popover: var(--popover);
  --color-popover-fg: var(--popover-fg);
  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);
  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);
  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* variables ---------------------------------------------------------------- */

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 286);
  --card: oklch(0.985 0 0);
  --card-fg: oklch(0.141 0.005 286);
  --popover: oklch(0.985 0 0);
  --popover-fg: oklch(0.141 0.005 286);
  --primary: oklch(0.21 0.01 286);
  --primary-fg: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-fg: oklch(0.21 0.01 286);
  --muted: oklch(0.967 0.001 286.375);
  --muted-fg: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-fg: oklch(0.21 0.01 286);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --sidebar: oklch(0.985 0 0);
  --sidebar-fg: oklch(0.141 0.005 286);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-fg: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-fg: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

[data-theme="dark"] {
  --background: oklch(0.141 0.005 286);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.18 0.008 286);
  --card-fg: oklch(0.985 0 0);
  --popover: oklch(0.18 0.01 286);
  --popover-fg: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-fg: oklch(0.18 0.008 286);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-fg: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-fg: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-fg: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.27 0.01 286);
  --input: oklch(0.27 0.01 286);
  --ring: oklch(0.552 0.016 285.938);
  --sidebar: oklch(0.18 0.008 286);
  --sidebar-fg: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-fg: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-fg: oklch(0.985 0 0);
  --sidebar-border: oklch(0.26 0.004 264);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

/* base styles -------------------------------------------------------------- */

@layer base {
  html {
    scrollbar-gutter: stable;
    overflow-x: hidden;
    background: var(--background);
    color: var(--foreground);
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
    scrollbar-color: var(--ring) transparent;
    color-scheme: light;
  }

  [data-theme="dark"] {
    color-scheme: dark;
  }

  body {
    font-family: var(--font-sans);
    overflow-x: clip;
  }

  *,
  *::before,
  *::after {
    paint-order: stroke fill markers;
    outline-offset: 4px;
    border-style: solid;
    border-color: var(--border);
    scroll-margin-top: calc(var(--header-height) + 2rem);
  }

  *::selection {
    background: --alpha(var(--ring) / 50%);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:is(:hover, :focus, :active) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--foreground);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
  }
}

/* variants ----------------------------------------------------------------- */

@custom-variant hocus (&:is(:hover, :focus-visible));

@custom-variant dark (&:where([data-theme="dark"] *));

/* utilities ---------------------------------------------------------------- */

@utility focus-ring {
  @apply ring-ring/60 ring-offset-background focus:outline-none;
  @apply focus-visible:ring-2 focus-visible:ring-offset-1;
}

@utility scrollbar-thin {
  scrollbar-width: thin;
}
